/* nice color scheme https://kuler.adobe.com/on-terminals-color-theme-191033/ */

body {
    background-color: #2d2c2c;
    margin: 0px;
    padding:0px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #CACACA;
    font-size:10pt;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

p.footer{
    text-align: right;
    font-size: 11px;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    background:#2d2c2c;
    margin:5px 0 0 0;
}

.content {
    width: 750px;
    float: left;
    margin: 0 0 0 15px;
}
.content h1 { margin-top: 0; }

/* DASHBOARD */
.dashboard-menu {
    height: auto;
    width: 250px;
    float:left;
}

.navbar { border-radius: 0; -moz-border-radius:0; -webkit-border-radius:0; }
.nav-pills > li > a { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; color:#CACACA; text-shadow:0 1px 0 rgba(0,0,0, 0.7); }
.nav > li > a { background-color:#413f3f; transition: background-color 0.3s ease; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:#585757;
    color:#CACACA;
    -moz-box-shadow:0 1px 1px 0 rgba(255,255,255, 0.2) inset;
    -webkit-box-shadow:0 1px 1px 0 rgba(255,255,255, 0.2) inset;
    box-shadow:0 1px 1px 0 rgba(255,255,255, 0.2) inset;
}
.nav-stacked > li.active {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 9999;
    border-top: 1px solid #222;
}
.nav > li > a:hover, .nav > li > a:focus { background-color:#555; }
.nav-stacked > li + li { margin-top:0; }
.right { float:right; }
.left { float:left; }
.space-right { margin-right:15px; }
.dashboard-menu .nav-stacked .glyphicon {
    font-size: 12pt;
    text-shadow: 0 1px 0 rgba(0,0,0, 0.7);
}
/* END DASHBOARD */

/* Memory */
.memtable {  }
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td { border-color: #444; }
/* CODITOR */
.btn-primary {
    background-color: #730642;
    border-color: #630F32;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #690238;
    border-color: #580027;
    color: #FFFFFF;
}
textarea.coditor {
    background: none repeat scroll 0 0 #262623;
    border: 0 none;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color: #f9f9f9; /*#73A605;*/
    height: 500px;
    width: 750px;
    padding: 10px;
    float:left;
    margin:0 0 10px 0;
}
input.coditor_title {
    background:#262623;
    border: 0 none;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color: #f9f9f9;
    font-size: 12pt;
    height: 45px;
    width: 750px;
    padding: 10px;
    float:left;
    margin:0 0 10px 0;
}
/* END CODITOR */